@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  font-family: "Quicksand", sans-serif;
}
@import "tailwindcss";

/* Range */
.range-sm::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #00adef;
  cursor: pointer;
  box-shadow: 0px 0px 8px 0px #000000eb;
}

.range-sm::-moz-range-thumb {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #00adef;
  cursor: pointer;
  box-shadow: 0px 0px 8px 0px #000000eb;
}
/* End Range */

.play-audio .inner-button-play .inner-icon-pause {
  display: none;
}

.play-audio .inner-button-play.play .inner-icon-play {
  display: none;
}

.play-audio .inner-button-play.play .inner-icon-pause {
  display: block;
}

[song-id].active .inner-play-song {
  background-color: #00adef;
  border-color: #00adef;
}
